<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <!-- <title><%= title %></title> -->
    <title>Codetivity</title>
     <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>

    <!-- CodeMirror and its JavaScript mode file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <!-- Controllers -->
    <script src="/javascripts/myApp.js"></script>
  	<script src="/javascripts/myController.js"></script>
  </head>
  <body ng-controller= 'myController' onload="startFirepad()">
    <!-- <h1> {{jsVariable}} </h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <header>
      <div class='container navContainer'>
        <div class='row'>
          <div class="col-xs-4">
            <h1>Codetivity</h1>
          </div>
          <div class="col-xs-offset-4 col-xs-4">
            <h1 class='gear'>
              <span class="glyphicon glyphicon-cog"></span>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <div class="mainContainer container border">
      <div class="row" style="height: 100%">
        <!-- SIDEBAR -->
        <div class="col-xs-4 border" style='padding: 0; height: 100%;'>
          <div style="width: 100%; color: white; background-color: #0288d1">Files</div>
          <div style="width: 100%">
            <button onclick="getText()">Get Text</button><br>
            <strong>Share</strong> the link below to begin collaborating with others.
          <br><br>
          <em>
            <a id="shareClickable">https://codetivity.herokuapp.com/#<span id="shareLink"></span><br>
            </a>
          </em>
          <br>You can start coding on the right or <strong>upload</strong> your files by dragging and dropping them <em>in the coding window</em>
          </div>
          <div style="width: 100%; color: white; background-color: #0288d1">Chat</div>
          <div style="width: 100%">A real-time chat with collaborators is a feature we're hard at work on.</div>
        </div>
        <!-- CODE VIEW -->
        <div class="col-xs-8 firepadDiv border">
              <div id="firepad-container"></div>
        </div>
      </div>
    </div>
    <div id="onlineMembers">+ Online Members</div>
    <div id="footer"></div>
    <div id="popup"></div>

    <!-- jQuery (for Bootstrap's JavaScript plugins) + Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/javascripts/firepadInit.js"></script>
    <script src="/javascripts/style.js"></script>
    <script >
      var onlineMembers = $("#onlineMembers");
      var popup = $("#popup");

      onlineMembers.hover(pushUp, pushDown);
      popup.hover(pushUp, pushDown)

      function pushUp(){
        onlineMembers.css("bottom", "10%");
        popup.css("height", "10%");
      }

      function pushDown(){
        onlineMembers.css("bottom", "5%");
        popup.css("height", "5%");
      }

    </script>
    <script>
      window.onkeydown = function(e) {
        if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {//override ctrl + s
          e.preventDefault();
          saveFile();
        }
      }
    </script>
  </body>
</html>
