<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title>Codetivity</title>

     <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CodeMirror and its JavaScript mode file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <link rel='stylesheet' href='/stylesheets/codetivity.css' />

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />

    <!-- Userlist -->
    <link rel="stylesheet" href='/stylesheets/firepad-userlist.css' />

    <!-- Bootstrap Editable Filenames -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

  </head>
  <body ng-app="myapp" onload="startFirepad(); ">
    <!--<h1> {{jsVariable}} </h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <header>
      <div style='width: 100%; height: 100%;'>
        <div class="pull-left" style="height: 100%">
          <a href='/' style="float: left; height: 100%">
            <img id='logo' src='/images/codetivity-logo-blue.png' alt='codetivity logo' height='100%'/>
          </a>

          <div style="height: 100%; display: inline-block; width: 500px; text-align: center; padding-top: 25px;">
            <span id="userName" style="color: black"></span>
          </div>
        </div>

        <div class='pull-right' style="height: 100%">
          <div class="btn-group" style="height: 100%">
            <button type="button" class="btn btn-default dropdown-toggle settingsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 100%">
              <span class='glyphicon glyphicon-cog settingsCog'></span>
            </button>
            <ul class="dropdown-menu" style="left: inherit; right: 0">
              <li style="color: #3b3b3b"><b>&nbsp&nbspSettings</b></li>
              <li role="separator" class="divider"></li>
              <form id="target">
                <p style="color: #3b3b3b">Change Password:</p>
                <input id="password1" type="password" placeholder="New Password"/>
                <br>
                <input id="password2" type="password" placeholder="Confirm New Password"/>
                <br><br>
                <div class="text-center">
                  <input type="submit" class="settings-btn" value="Change Password">
                </div>
              </form>
              <li role="separator" class="divider"></li>
              <li class="text-center"><a onclick="toggleSignOut()">Sign Out</a></li>
            </ul>
          </div>
        </div>
        
        <!-- LINK COPY -->
        <div class='pull-right linkCopyDiv'>
            <div class="input-group linkCopy" style="width: 300px; float: right">
                <input type="text" class="form-control" id="linkHolder" placeholder="Link">
                <span class="input-group-btn" style="z-index: 9999">
                  <a data-toggle="popover" data-content="Copied!" data-placement="bottom" data-trigger="focus">
                    <button class="btn btn-default" type="button" style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none" id="copy-button" data-clipboard-target='#linkHolder'><span class='glyphicon glyphicon-copy'></span></button>
                  </a>
                </span>
            </div><!-- /input-group -->
        </div>
      </div>
    </header>

    <div class="mainContainer container border">
      <div class="row" style="height: 100%">
        <!-- SIDEBAR -->
        <div class="col-xs-4 border" style='padding: 0; height: 100%;'>
          <div class="leftHeader"><span style="position: relative; top: 5px;">Files</span>
            <!-- DOWNLOAD -->
            <label id="downloadBtn" class="button"><i class="material-icons">assignment_returned</i></label>
            <!-- UPLOAD -->
            <label for="toup" id="uploadBtn" class="button"><i class="material-icons">backup</i></label>
            <input id="toup" type="file" onchange="loadfile(this)" style="display:none;"/>
            <!-- NEW FILE BUTTON -->
            <label id="newFileButton" class="button"><i class="material-icons">note_add</i></label>
          </div>
          <div class="leftSection isViewport" id="left"></div>
          <div class="leftHeader"><span style="position: relative; top: 5px;">Chat</span></div>




          <!-- CHAT VIEW -->
          <div ng-controller="MyController" class="leftSection" style="overflow: auto">
            <div class="list-messages" id="listMessages">
              <p>
              <ul>
                <li ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</li>
              </ul>
              </p>
            </div>
            <div class="new-message text-center" id="newMessage">
              <!--<input type="text" ng-model="name" placeholder="Name" style="width: 49%">-->
              <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message..." style="width: 100%">
            </div>
          </div>





        </div>
        <!-- CODE VIEW -->
        <div class="col-xs-8 firepadDiv border">
          <div id="userlist"></div>
          <div id="firepad-container"></div>
        </div>
      </div>
    </div>
    <div id="popup"></div>
    <div id="onlineMembers">+ Online Members</div>
    <div id="footer"></div>

    <!-- jQuery (for Bootstrap's JavaScript plugins) + Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js'></script>

    <!-- clipboardjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <!-- Controllers -->
    <!--<script src="/javascripts/myApp.js"></script>-->
    <!--<script src="/javascripts/myController.js"></script>-->

    <script src="/javascripts/firebaseConfig.js"></script>
    <script src="/javascripts/firepadInit.js"></script>
    <script src="/javascripts/codetivity.js"></script>
    <script src="/javascripts/firepad-userlist.js"></script>
    <script src="/javascripts/chatApp.js"></script>
  </body>
</html>
