<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login – Codetivity</title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/login.css" rel="stylesheet">
</head>


<body>

    <section id="hire">
    <h1>Login</h1>

        <form action="/code">
    	      <div class="field name-box">
    		        <input type="text" id="name"/>
            		<label for="name">Full Name</label>
    		        <span class="ss-icon">check</span>
    	      </div>

    	      <div class="field username-box">
    		        <input type="text" id="username"/>
    		        <label for="username">Username</label>
    		        <span class="ss-icon">check</span>
    	      </div>

              <div class="field pass-box">
    		        <input type="password" id="password"/>
    		        <label for="password">Password</label>
    		        <span class="ss-icon">check</span>
    	      </div>

              <!-- <div class="field msg-box">
    		        <textarea id="msg" rows="4" placeholder="Your message goes here..."/></textarea>
    		        <label for="msg">Msg</label>
    		        <span class="ss-icon">check</span>
    	      </div> -->

            
    	       <input class="button" type="submit" value="LOGIN"/>
            
        </form>
    </section>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>