
/* ==================================== Main Components =================================== */

html {
  height: 100%;
}

body {
  font: 1.3em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0; 
  height: 100%;
  position: relative;
}

a {
  color: #00B7FF;
}

header{
  height: 10.5%;
  color: white;
  background-color: white;
  text-align: left;
	border: 2px solid #0288d1; 
}
#logo{
  padding-left: 30px;
  vertical-align: inherit;
}

.border{
    border: 1px solid #0288d1;
    border-bottom: 2px solid #0288d1;
    border-top: 0;
}

.settingsButton, .settingsButton:hover {
  border-color: transparent;
  border-radius: 0;
  font-size: 30px;
  color: #0288D1;
  padding-top: 20%;
}

.linkCopy{
  padding-top: 5%;
  padding-right: 10px;
}
.linkCopyDiv{
  position: absolute;
  top: 0;
  right: 5%;
  overflow:hidden;
  
}

.popover{
  padding-top: 5px;
  background: #3e3e3b;
}

.popover.bottom .arrow:after {
  border-bottom-color: #3e3e3b;
}

/* ==================================== Firepad =================================== */

#firepad-container {
  width: 100%;
  height: 100%;
}

.firepadDiv {
  padding: 0;
  height: 100%;
  /*border*/
}

.powered-by-firepad {
  display: none!important;
}

.mainContainer{
    width: 100%;
    height: 89.5%;
}

.navContainer {
  width: 100%;
}

.gear{
  font-size: 30px;
  text-align: right;
}

/* ==================================== Online Members =================================== */

/*#footer{
  width: 100%;
  height: 5%;
  background-color: #0288d1;

  position: absolute;
  bottom: 0;
  z-index: 999;
}*/

#popup{
  width: 66.67%;
  color: #0071bc;
  background-color: #0071bc;
  text-align: left;

  transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow: auto;
}

#onlineMembers{
  width: 13%;
  height: 5%;
  color: white;
  background-color: #0071bc;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding-top: 7px;

  transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}

/* ==================================== FILE VIEW =================================== */
.leftHeader{
  width: 100%;
  color: white;
  background-color: #0288d1;
  height: 5%;
  float: left;
}
.leftSection{
  width: 100%;
  height: 45%;
}
#left {
  overflow: auto;
  position: relative;
}
.section-header h2{
  background-color: #0071bc;
  margin: 0;
  line-height: 27px;
  color: white;
  font-size: 17px;
}
.leftSection h5 {
  margin: 0;
  padding: 0 0 10px 0;
}
.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 10px;
  padding-right: 15px;
}
.popover{
  z-index: 999;
}
#downloadBtn .material-icons, #uploadBtn .material-icons, #newFileButton .material-icons{
  font-size: 18px;
}
#uploadBtn, #downloadBtn, #newFileButton{
  float: right;
}
/* ==================================== Form aka Settings =================================== */

form{
  color: #0288d1;
  padding-left: 10px;
  padding-right: 10px;
}

.settings-btn{
  border: solid;
  border-color: #0071bc;
  border-radius: 25px;
  background-color: #0071bc;
  color: #ffffff;
}

/* =========================================== CHAT ========================================= */
#newMessage {
  position: absolute;
  bottom: 0;
  background-color: #0071bc;
  height: 4%;
  padding-top: 3px;
  width: 100%
}