.firepad-userlist {
  /* default height */
  height: 100%;
  min-width: 100%;

  background: #0071bc; /* Old browsers */
  background: -moz-linear-gradient(left, #0071bc 0%, #0071bc 93%, #0071bc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0071bc), color-stop(93%,#0071bc), color-stop(100%,#0071bc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #0071bc 0%,#0071bc 93%,#0071bc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #0071bc 0%,#0071bc 93%,#0071bc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #0071bc 0%,#0071bc 93%,#0071bc 100%); /* IE10+ */
  background: linear-gradient(to right, #0071bc 0%,#0071bc 93%,#0071bc 100%); /* W3C */
  color: white;

  bottom: 10%;
}

.firepad-userlist {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: normal;
}

.firepad-userlist-heading {
/*  margin: 20px 15px 0;*/  
  font-size: 10px;
  border-bottom: 1px solid #0071bc;
}

.firepad-userlist-users {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.firepad-userlist-user {
  position: relative;
/*  margin: 3px 0;
  height: 32px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 5px;*/
}

.firepad-userlist-color-indicator {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input.firepad-userlist-name-input {
  position: absolute;
  left: 38px;
  top: 0;
  width: 120px;
  height: 20px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
  line-height: 12px;
  padding: 1px;
  background-color:#0071bc;
}

.firepad-userlist-name-hint {
  position: absolute;
  left: 38px;
  top: 23px;
/*  width: 300px;  I'd rather it clip than wrap. */
  font-size: 9px;
  line-height: 11px;
}

.firepad-userlist-name {
  position: absolute;
  top: 2px;
  left: 38px;
  width: 95px;
  font-size: 13px;
}
