
html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0; height: 100%;
  position: relative;
  margin: 0;
  height: 100%;
}

a {
  color: #00B7FF;
}

header{
  height: 10.5%;
  color: white;
  background-color: white;
  text-align: left;
	border: 2px solid #0288d1; 
}

h1{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0288d1;
}

#firepad-container {
  width: 100%;
  height: 100%;
}

.border{
    border: 1px solid #0288d1;
    border-bottom: 0;
    border-top: 0;
}

.firepadDiv {
  padding: 0;
  height: 100%;
  border
}

.powered-by-firepad {
  display: none!important;
}

.mainContainer{
    width: 100%;
    height: 84.5%;
}

/* ============ Footer hover ============== */

.footer{
  width: 100%;
  height: 5%;
  background-color: #0288d1;

  position: absolute;
  bottom: 0;
  z-index: 999;
}

.popup{
  width: 66.67%;
  height: 5%;
  color: white;
  background-color: #0288d1;
  border-radius: 15px;
  text-align: left;

  transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.popup:hover {
  height: 100px;
  z-index: 999;
}


